body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
}

h1 {
    color: #333;
}

form {
    margin-bottom: 20px;
}

#file-input {
    margin-right: 10px;
}

button {
    background-color: #5cb85c;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}

#message {
    margin: 15px 0;
    font-weight: bold;
}

#images-list {
    display: flex;
    flex-wrap: wrap;
}

#images-list img {
    width: 200px; /* Możesz dostosować szerokość */
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
