#bingo-board {
    display: grid;
    grid-template-columns: repeat(3, 100px); // 3 kolumny
    gap: 5px;
}

.square {
    width: 100px;
    height: 100px;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 24px;
    border: 1px solid #ccc;
}

.square.marked {
    background-color: #4caf50;
    color: white;
}
